<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/abdoh/IdeaProjects/maven1000"><classes><class name="testCases.test1"><methods><include name="firstRun"/></methods></class></classes></test></suite>